@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body #magicMouseCursor, #magicPointer {
    mix-blend-mode: difference;
}

#radar {
    background: linear-gradient(#333, #111);
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
    border-radius: 100%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background: radial-gradient(#222, #111);
    border-radius: 100%;
    display: block;
}

.icon {
    position: absolute;
    width: 40px;
}
